{% extends 'base.html' %}

{% block statics %}

    <link rel="stylesheet" type="text/css" href="/static/css/add_calendario.css">

{% endblock statics %}

{% block content %}
    
    <form name='my_form' method="POST">

    {% csrf_token %}
    {{ CalendarioForm.management_form }}

    {% for form in CalendarioForm %}
    
        {% for field in form %}
            
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}

        {% endfor %}

    {% endfor %}

    <label for='data_input'>Data</label>
    <input name='data_input' type='datetime-local'>

    <button type="submit">Salvar</button>

    </form>

{% endblock content %}