<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/site.css">
    <link rel="stylesheet" type="text/css" href="/static/css/authenticate.css">

    <title> Tabela da Copa </title>
</head>

<body>
    
    <div class="options">

        <a href="{% url 'cadastro' %}"><div class="option">Cadastrar</div></a>
        
        <a href="{% url 'login' %}"><div class="option">Login</div></a>
        
    </div>
    
</body>
    
</html>