<html>

<head>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    {% block statics %} {% endblock %}

    <link rel="stylesheet" type="text/css" href="/static/css/site.css">

    <title> Tabela da Copa </title>
</head>

<body>
    
    <div class="menu">
        <a href="{% url 'index' %}" class="menu_link">
            <div class="menu_link">Fase de Grupos</div>
        </a>

        <a href="#" class="menu_link">
            <div class="menu_link">Eliminatórias</div>
        </a>
    </div>
    

    <section class="content">
        
        {% block content %} {% endblock %}

    </section>

</body>
    
</html>