.vertical {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.tb_group {
    border: 2px solid yellow;
    border-radius: 10px;
    margin: 20px auto;
    width: 50%;
}

.tb_title {
    border-bottom: 1px solid black;
    font-size: 16px;
    text-align: center;
    margin: 5px auto 0;
}

.tb_content {
    background-color: #a6d0a6;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-flow: column nowrap;
}

.tb_team_row {
    display: flex;
    font-size: 19px;
    font-weight: 600;
    flex-flow: row nowrap;
    height: 30px;
    width: 90%;
    margin: 10px auto;
}

div.tb_team_row.leg {
    text-align: center;
}

.num {
    width: 10%;
    text-align: center;
}

.nome {
    width: 40%;
}

div.tb_team_row.main div.nome {
    padding-left: 25px;
}

.borda_v {
    height: 100%;
    border: 1px solid black;
    width: 1px;
}

.borda_h {
    margin: 1px auto;
    height: 1px;
    background-color: black;
    width: 100%;
}

.btShow {
    border: 2px solid darkgreen;
    border-radius: 5px;
    background-color: yellow;
    box-shadow: 2px 4px 10px 0px black;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    transition: .3s;
    width: 150px;
}

.btShow:hover {
    border-color: black;
    background-color: forestgreen;
}

.btShow:active {
    background-color: lightgreen;
    transition: .1s;
}

.bt_side {
    width: 10%;
}

.matches {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 5px auto;
    width: 48%;
}

.matches_side {
    background-color: #a6d0a6;
    width: auto; 
}

.hide {
    display: none;
}

.results {
    border: 1px solid darkgreen;
    border-collapse: collapse;
    display: flex;
    flex-flow: row nowrap;
    font-size: 18px;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
}

.data {
    width: 40%;
}

.time {
    width: 20%;
}

.casa {
    text-align: right;
}

.resultado {
    text-align: center;
    width: 10%;
}

@media screen and (max-width: 1000px) {
    .tb_group {
        width: 80%;
    }
    
    .matches {
        flex-flow: column nowrap;
        width: 90%;
    }
    
    .matches_side {
        margin: 20px auto;
        width: 100%;
    }
    
}