* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkseagreen;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

div.menu_link {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    height: 100%;
    justify-content: center;
    width: 150px;
}

div.menu_link:hover {
    background-color: greenyellow;
}

.menu {
    background-color: forestgreen;
    display: flex;
    flex-flow: row nowrap;
    font-size: 18px;
    height: 80px; 
    justify-content: center;
    width: 100%;
}

.content {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .div.menu_link {
        width: 50%;
    }  
}